.buttons{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.filter-button{
    display: flex;
    margin-left: 5px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.filter-button:hover{
    background-color: #000099;
    color: white;
}
@media only screen and (max-width : 720px){
    .buttons{
       flex-direction: column;
    }
    .filter-button{
        margin-top: 5px;
    }
}